.restName {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}
.restCat {
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  .restName {
    font-size: 1.3rem;
  }
  .restCat {
    font-size: 1rem;
  }
}
