.restContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Avenir Next';
  height: 180px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.restInfo {
  margin: 6px 12px;
}

@media only screen and (min-width: 600px) {
  .restContainer {
    flex: 50%;
  }
}
