.restContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Avenir Next';
  height: 180px;
  padding: 6px 12px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
