.restContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: 'Avenir Next';
  height: 180px;
  padding: 6px 12px;
  /* position: relative; */
  width: 100%;
}
.restInfo {
  /* bottom: 6px;
  position: absolute; */
}
