.headerContainer {
  background: #43e895;
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
}
.backIcon {
  cursor: pointer;
  margin: 0 6.2vw 0 3vw;
  height: 4vh;
}
.hideBackIcon {
  visibility: hidden;
  margin-left: 6.6vw;
}
.headerText {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Avenir Next';
  font-weight: 600;
  display: inline-block;
  margin-top: 1vh;
}
.mapIcon {
  margin-right: 4vw;
  height: 5vh;
}

@media only screen and (min-width: 600px) {
  .backIcon {
    margin: 0 5vw 0 3vw;
  }
  .headerText {
    font-size: 1.7rem;
  }
}
